* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body {
  background-color: #f0f5ff;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  border:0;
}

.image{
  margin-left:0%;
}

.menu{
  padding:10px;
  content-visibility:hidden;

}
.menu:hover{
  box-shadow: 0.3px 0.3px 0 0 rgb(66, 66, 66);
  border-radius:5px;
}

.secondnavbar{
  background-color: white;
  height:60px;
}

.search,.secondsearch {
  border: none;
  background-color: #f0f5ff;
  width: 100%;
  text-decoration: none;
  font-size: large;
  padding-left: 10px;

}

.engine,.secondengine {
  background-color: #f0f5ff;
  border-radius: 10px;
  height: 40px;
  width: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:12px;
}

.secondengine{
  width:65vh;
}

.engine1,.secondengine1 {
  padding-left: 10px;
}
.secondnavbar{
  content-visibility:hidden;
  width:0%;
  height:0%;
}

.accountdropdown {
  display: none;
  border-radius:7px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 22px;
  margin-left: -30px;
}
.accountdropdown1a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left:10px;
  
}

.ss:hover .accountdropdown{
  display:block;
  
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  font-weight: 300;
  font-size: 17px;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}

.more,
.account,
.cart,
.seller {
  margin: 10px;
  padding: 20px;
  
}

.more{
  margin-right: 20px;
}

.account:hover,
.cart:hover,
.seller:hover,
.more:hover {
  box-shadow: 0.3px 0.3px 0 0 rgb(66, 66, 66);
  border-radius: 5px;
  cursor: pointer;
}

.cart,
.seller,
.account,
.more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.seller{
  min-width: 150px;
}

.accountbutton {
  display:inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.accountbutton:hover .accountdropdown{
  display:block;
}
.cartbutton,.sellerbutton{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.categories{
  width: 96.5%;
  display: flex;
  position:relative;
  background-color: white;
  margin:20px;
  justify-content:space-evenly;
  align-items:center;
}


/* Modern Scroll Design for Categories without visible scrollbar */
.categories {
  width: 96.5%;
  height: 140px;
  display: flex;
  position: relative;
  background-color: white;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto; 
  overflow-y:hidden;/* Enable horizontal scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

.product{
  background-color:white;
  margin:15px;
  padding: 10px;
  height:65vh;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
 
}

#products{
  display:flex;
  height:50vh;
  position:relative;
  justify-content:normal;
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden;;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
  padding:10px;

}


#singleproduct{
  display:flex;
  flex-direction:column;
  align-items:center;
  border:1px solid rgb(196, 195, 195);
  border-radius:10px;
  margin-left:10px;
  margin-right:10px;
  min-height:240px;
  min-width:180px;
  
}
.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: Add a gradient overlay to indicate scroll position */
.categories::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px; /* Adjust as needed */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}
.productimg{
  width:100%;

}
#productname{
  font-size:17px;
  font-family:inter_regular,fallback-inter_regular,Arial,sans-serif;
  font-weight:300;
  color:#262626;
}
.productcategory{
  margin:20px;
  
}
#productprice{
  color:#262626;
  font-size:17px;
  font-family:inter_regular,fallback-inter_regular,Arial,sans-serif;
  font-weight:bold;
}
#protext{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:20px;
  font-weight:500;
  color:rgb(47, 46, 46);
}
.productimg1{
  margin:5px;
  height:75rem;
  display:flex;
  justify-content:center;
  align-items:center;
}
.productname{
  font-size:small;
}

.productprice{
  font-size:medium;
}

#catext{
  padding:10px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:600;
  color:#262626;
  
}

.cate,.product1{
  padding:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-weight: 300;
  font-size: 17px;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}
.cateline{
  text-decoration: none;
  color:black;
  font-family: inter_regular,fallback-inter_regular,Arial,sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight:500;
  
}
.cateimg{
  height:60px;
  width:60px;
}

.accountbutton1{
  content-visibility:hidden;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.slider-wrapper{
  position:relative;
  margin:0 auto;
}
.slider{
  display:flex;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  margin:25px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  background-repeat: repeat-x;
  
}
.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slider img{
  width: 100%;
  scroll-snap-align:start;
  object-fit:cover;

}
.slider-nav{
  display:flex;
  column-gap:5px;
  position:absolute;
  bottom:1.25rem;
  left:50%;
  transform: translateX(-50%);
  z-index:1;
}

.slider-nav a{
  width:0.5rem;
  height:0.5rem;
  border-radius:40%;
  background-color:#fff;
  opacity:0.75;
  transition:opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
  border-radius:30%;
}


/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
  #abimg{
    height:20px;
    width:20px;
    margin:0px;
    margin-right:0px;
    margin-left:0px;
    
  }
  #footer{
    height:350px;
  }
  .menu{
    content-visibility: visible;
    margin-left:40px;
  }
  .engine,.search,.engine1 {
      content-visibility:hidden;
      width:0%;
  }
  .secondnavbar{
    content-visibility:visible;
    width:100%;
    height:50px;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  
  
  .accountbutton{
    content-visibility: hidden;
  }
  .accountbutton1{
    content-visibility:visible;
  }
  .inmobile{
    content-visibility: visible;
  }
  .seller{
    content-visibility:hidden;
    backface-visibility: hidden;
    visibility:hidden;
    width:0%;
  }
 
  
}

@media (max-width:1192px){
  .categories{
    overflow-x: scroll;
    justify-content:normal;
  }
  
}

@media only screen and (max-width: 1192){
  .categories{
    overflow-x: scroll;
    justify-content:normal;
    ;
  }
  #products{
    overflow-x:scroll;
    justify-content:normal;
  }
  #footer{

  width:100%;
  height:350px;
  background-color:rgb(31, 31, 31);
  display:flex;
  flex-direction:flex-start;

  }
  #abimg{
    height:20px;
    width:20px;
    margin:none;
    margin-right:0px;
    margin-left:0px;
    
  }
  

}

@media only screen and (max-width: 850px) {
  
  
  .cartbutton,.sellerbutton{
    content-visibility: hidden;
  }
  
  .seller{
    min-width: 26px;
  }
}



/* dropdown */
.ss {
  position: relative;
}

.ss:hover .dropdown-content {
  display: block;
}
.accountdropdown1{
  margin:20px;
  display:flex;
  width:180px;
  height:20px;
  align-items:center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height:390px;
  width:200px;
  border-radius:10px;
  margin-left:-30px;
  margin-top:8px;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
#more{
  margin-left:-220px;
  width:250px;
  height:180px;
}
#moredrop{
  width:250px;
}
.inmobile{
  content-visibility: hidden;
}


/* footer design */


#footer{
  width:100%;
  height:250px;
  background-color:rgb(31, 31, 31);
  display:flex;
  flex-direction:flex-start;
}

#abouthead{
  color:rgb(166, 166, 166);
  font-family:intro_regular,fallback-inter_regular,Arial,sans-serif;
  font-size:12px;
  
  font-weight:150;
}
#about{
  height:13rem;
  width:15rem;
  margin:25px;
  padding:10px;
}
#abouttext{
  color:white;
  font-family:intro_regular,fallback-inter_regular,Arial,sans-serif;
  font-size:12px;
  font-weight:500;
  margin-top:10px;
  margin-bottom:10px;
}
#abouttext1{
  padding-top:10px;
}
#line{
  height:140px;
  width:1px;
  margin:25px;
  background-color:rgb(166, 166, 166);
}

#abimg{
  height:4rem;
  width:4rem;
  margin-top:5px;
  margin-right:10px;
  
  
}
#links{
  margin:10px;
  margin-top:35px;
}
#links{
  height:100px;
}